.box{
  border-radius: 25px;    
  background-color: bisque;
  min-width:300px;
  height: 50px;
  max-width: 400px;
  padding: 15px;
  margin: 20px;
}
.choice{
    /* font-size: 20;
    font-weight: 200; */
    /* height: 25px;     */
    margin-left:10px;
    font-family:    Arial, Helvetica, sans-serif;
    font-size:      20px;
    font-weight:    bold;
}